# Устанавливаем стандартное поведение для всех текстовых файлов
* text=auto

# Явно указываем файлы, которые должны иметь окончания LF (независимо от ОС)
# Это важно для shell-скриптов, файлов конфигурации и т.д.
*.go     text eol=lf
*.mod    text eol=lf
*.sum    text eol=lf
*.sh     text eol=lf
*.md     text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf

# Указываем файлы, которые не являются текстовыми, чтобы Git их не трогал
*.png    binary
*.jpg    binary